<div class="row newsroom widget">

    <!--news1-->
    <div class="col-12">
        <div class="row newses">
            <div class="col-2 col-lg-4">
                <img src="img/svg/hunde_artikel_eins.svg" 
                     alt="hund_artikel_eins">
            </div>
            <div class="col-10 col-lg-8">
                <a href="news.html">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam
                        nonumy...</p>
                </a>
            </div>
        </div>
    </div>

    <!--news2-->
    <div class="col-12">
        <div class="row newses">
            <div class="col-2 col-lg-4">
                <img src="/img/svg/hunde_artikel_zwei.svg" 
                     alt="hund_artikel_zwei">
            </div>
            <div class="col-10 col-lg-8">
                <a href="news.html">
                    <h4>Neus 02&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-19</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam
                        nonumy...</p>
                </a>
            </div>
        </div>
    </div>

    <!--news3-->
    <div class="col-12">
        <div class="row newses">
            <div class="col-2 col-lg-4">
                <img src="/img/svg/hunde_artikel_drei.svg" 
                     alt="hund_artikel_drei">
            </div>
            <div class="col-10 col-lg-8">
                <a href="news.html">
                    <h4>Neus 03&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-18</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam
                        nonumy...</p>
                </a>
            </div>
        </div>
    </div>

    <!--news4-->
    <div class="col-12">
        <div class="row newses">
            <div class="col-2 col-lg-4">
                <img src="/img/svg/hunde_artikel_vier.svg" 
                     alt="hund_artikel_vier">
            </div>
            <div class="col-10 col-lg-8">
                <a href="news.html">
                    <h4>Neus 04&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-17</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam
                        nonumy...</p>
                </a>
            </div>
        </div>
    </div>
    <!--news5-->
    <div class="col-12">
        <div class="row newses">
            <div class="col-2 col-lg-4">
                <img src="/img/svg/hunde_artikel_fuenf.svg" 
                     alt="hund_artikel_fuenf">
            </div>
            <div class="col-10 col-lg-8">
                <a href="news.html">
                    <h4>Neus 05&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-16</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam
                        nonumy...</p>
                </a>
            </div>
        </div>
    </div>


</div>