<footer class="container">
    <div class="row footer">
        <div class="col-12 unterschrift"><h2>Folge uns</h2></div>
        <div class="col-12 social-icons">
            <div class="row">
                <div class="col-2 text-center"><i class="fab fa-facebook-square"></i></div>
                <div class="col-2 text-center"><i class="fab fa-skype"></i></div>
                <div class="col-2 text-center"><i class="fab fa-whatsapp-square"></i></div>
                <div class="col-2 text-center"><i class="fab fa-twitter-square"></i></div>
                <div class="col-2 text-center"><i class="fab fa-instagram"></i></div>
                <div class="col-2 text-center"><i class="fab fa-youtube-square"></i></div>
            </div>
        </div>
    </div>
    <div class="placeholder row">
        <div class="col-12">&nbsp;</div>
    </div>
</footer>
<div class="mobile-contact row align-items-center">
    <div class="col-6 text-center"><i class="far fa-envelope-open"></i></div>
    <div class="col-6 text-center"><i class="fas fa-phone"></i></div>
</div>
<div id="zuruek">
    <i class="fas fa-chevron-up"></i>
</div>
<div class="contact-form row">
    <div class="col-12">
        {{>form.mustache}}
    </div>
</div>
<script src="/js/jquery.js" type="application/javascript"></script>
<script src="/js/script.js" type="application/javascript"></script>
</body>
</html>
