<footer>

</footer>
<div id="zuruek">
    <i class="fas fa-chevron-up"></i>
</div>
<script src="/js/jquery.js" type="application/javascript"></script>
<script src="/js/script.js" type="application/javascript"></script>
</body>
</html>
