<footer class="container">
    <div class="row footer">
        <div class="col-12">
            <div class="row unterschrift">
                <div class="col-12"><h2>Folge uns</h2></div>
            </div>
        </div>
        <div class="col-12 social-icons d-md-none">
            <div class="row">
                <div class="col-2 text-center"><i class="fab fa-facebook-square"></i></div>
                <div class="col-2 text-center"><i class="fab fa-skype"></i></div>
                <div class="col-2 text-center"><i class="fab fa-whatsapp-square"></i></div>
                <div class="col-2 text-center"><i class="fab fa-twitter-square"></i></div>
                <div class="col-2 text-center"><i class="fab fa-instagram"></i></div>
                <div class="col-2 text-center"><i class="fab fa-youtube-square"></i></div>
            </div>
        </div>
        <div class="col-12 social-icons d-none d-md-block">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1 text-center"><i class="fab fa-facebook-square"></i></div>
                <div class="col-1 text-center"><i class="fab fa-skype"></i></div>
                <div class="col-1 text-center"><i class="fab fa-whatsapp-square"></i></div>
                <div class="col-1 text-center"><i class="fab fa-twitter-square"></i></div>
                <div class="col-1 text-center"><i class="fab fa-instagram"></i></div>
                <div class="col-1 text-center"><i class="fab fa-youtube-square"></i></div>
                <div class="col-3"></div>

            </div>
        </div>
    </div>
    <div class="row header-desktop d-none d-md-flex">
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-2 logo">
                    <a href="index.html"><img src="/img/png/logo_132.png" alt="logo" width="132" height="132"></a>
                </div>
                <div class="col-6 title">
                    <div class="h1">Unternehmen für liebevolle Besitzer und aufgezogene Hunde</div>
                </div>
                <div class="col-4 text-right pr-0">
                    {{>navigation-footer.mustache}}
                </div>
            </div>
        </div>
    </div>
    <div class="placeholder row">
        <div class="col-12">&nbsp;</div>
    </div>
</footer>
<div class="mobile-contact row align-items-center">
    <div class="col-6 text-center"><i class="far fa-envelope-open"></i></div>
    <div class="col-6 text-center"><a href="tel:1111111111"><i class="fas fa-phone"></i></a></div>
</div>
<div id="zuruek">
    <i class="fas fa-chevron-up"></i>
</div>
<div class="contact-form container">
    <div class="row">
        <div class="col-12 p-0">
            {{>form.mustache}}
        </div>
    </div>
</div>
<div class="lightbox" style="display: none;"></div>
<div class="preloader fa-5x">
    <i class="fas fa-paw fa-spin"></i>
</div>
{{>headers/js.mustache}}
</body>
</html>
