<main role="main" class="container">
    <div class="row vorteile">
        <div class="col-7">
            <span class="zahle">72</span>Hunderassen
        </div>
        <div class="col-5">
            <span class="zahle">15</span>Hundezwinger
        </div>
        <div class="col-7">
            <span class="zahle">27</span>jährliche Ausstellungen
        </div>
        <div class="col-5" >
            <span class="zahle">3</span>Filialen
        </div>
        <div class="col-6">
            <span class="zahle">14</span>Tsd. der Kunden
        </div>
        <div class="col-6 text-center">
            <span class="zahle">280</span>Club der Anhänger
        </div>
    </div>
    <div class="row unterschrift">
        <div class="col-12">
            <h2>Über Unternehmen</h2>
        </div>
    </div>
    <div class="row ueber-unternehmen">
        <div class="col-4 kurzportraet">
            <img src="/img/png/hund_zwei.png" alt="Hund zwei">
            <h3>Kurzporträt</h3>
        </div>
        <div class="col-4 strategie">
            <img src="/img/png/hund_sechs.png" alt="Hund sechs">
            <h3>Strategie</h3>
        </div>
        <div class="col-4 herkunft">
            <img src="/img/png/hund_eins.png" alt="Hund eins">
            <h3>Herkunft</h3>
        </div>
    </div>
    <div class="row unterschrift">
        <div class="col-12">
            <h2>Unsere Felder</h2>
        </div>
    </div>
    <div class="row unsere-felder">
        <div class="col-4 shop">
            <img src="/img/png/hund_drei.png" alt="Hund drei">
            <h3>Shop</h3>
        </div>
        <div class="col-4 pension">
            <img src="/img/png/hund_fuenf.png" alt="Hund fünf">
            <h3>Pension</h3>
        </div>
        <div class="col-4 hundeschule">
            <img src="/img/png/hund_vier.png" alt="Hund vier">
            <h3>Hundeschule</h3>
        </div>
    </div>
    <div class="row unterschrift">
        <div class="col-12">
            <h2>Neusroom</h2>
        </div>
    </div>
    <div class="row neusroom">
        <div class="col-12">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">

                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_drei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_drei">

                </div>
                <div class="col-10">
                    <h4>Neus 02 &nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-19</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>
        <div class="col-12 mehr_anzeigen"><a href="#">Mehr anzeigen</a></div>
    </div>
    <div class="row unterschrift">
        <div class="col-12">
            <h2>Kontakt&nbsp;&laquo;Churchill&raquo;</h2>
        </div>
    </div>
    <div class="row kontakt">
        <div class="col-6 border-right">
            <h4>Shop &nbsp;|&nbsp; Pension</h4>
            <div class="row adresse">
                <div class="col-12">Öffnungszeiten <br>von 8.00 bis 19.00</div>
                <div class="col-12">Str. Tumanweg 10</div>
                <div class="col-12">Göttingen</div>
                <div class="col-12"><a href="mailto:sobacki@gmail.com">sobacki@gmail.com</a></div>
                <div class="col-12">Tel.<a href="tel:3957531618">395-753-16-18</a></div>
            </div>
        </div>
        <div class="col-6">
            <h4>Hundeschule</h4>
            <div class="row adresse">
                <div class="col-12">Öffnungszeiten <br>von 9.00 bis 14.00</div>
                <div class="col-12">Str. Weender 5</div>
                <div class="col-12">Göttingen</div>
                <div class="col-12"><a href="mailto:schulsob@gmail.com">schulsob@gmail.com</a></div>
                <div class="col-12">Tel.<a href="tel:3954223315">395-422-33-15</a></div>
            </div>
        </div>
    </div>
    <div class="row map">
        <div class="col-12 p-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d9927.08814742419!2d9.9312386!3d51.5357409!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sde!2sde!4v1560164120110!5m2!1sde!2sde"
                    style="border:0" allowfullscreen></iframe>
            <!--<img src="/img/png/map.png">-->
        </div>
    </div>

</main>
