<nav role="navigation" class="container navigation-footer">
    <div class="row">
        <div class="col-6">
            <ul class="navigation p-0">
                <li class="nav-item newsroom_menu ">
                    <a class="" href="newsroom.html">Newsroom</a>
                </li>
                <li class="nav-item kontakt_menu">
                    <a href="contact.html">Kontakt</a></li>
                <li class="nav-item kurzportraet_menu">
                    <a href="kurzportrait.html">Kurzporträt</a>
                </li>
                <li class="nav-item strategie_menu">
                    <a href="strategie.html">Strategie</a>
                </li>
                <li class="nav-item herkunft_menu">
                    <a href="herkunft.html">Herkunft</a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="navigation p-0">
                <li class="nav-item shop_menu">
                    <a href="shop.html">Shop</a>
                </li>
                <li class="nav-item pension_menu">
                    <a href="pension.html">Pension</a>
                </li>
                <li class="nav-item hundeschule_menu">
                    <a href="hundeschule.html">Hundeschule</a>
                </li>
                <li class="nav-item impressum_menu">
                    <a href="impressum.html">Impressum</a></li>
                <li class="nav-item daten_menu">
                    <a href="datenschutz.html">Datenschutz</a></li>
            </ul>
        </div>
    </div>

</nav>
