<nav role="navigation">
    <ul class="navigation" style="display: none;">
        <li class="nav-item ueber_unternehmen_menu">
            <a class="dropdown-link" href="#">Über Unternehmen<i class="fas fa-chevron-right"></i></a>
            <ul class="dropdown" style="display: none;">
                <li class="nav-item kurzportraet_menu">
                    <a href="#kurzportraet">Kurzporträt</a>
                </li>
                <li class="nav-item strategie_menu">
                    <a href="#strategie">Strategie</a>
                </li>
                <li class="nav-item herkunft_menu">
                    <a href="#herkunft">Herkunft</a>
                </li>
            </ul>
        </li>
        <li class="nav-item unsere_felder_menu">
            <a class="dropdown-link" href="#">Unsere Felder<i class="fas fa-chevron-right"></i></a>
            <ul class="dropdown" style="display: none;">
                <li class="nav-item shop_menu">
                    <a href="#shop">Shop</a>
                </li>
                <li class="nav-item pension_menu">
                    <a href="#pension">Pension</a>
                </li>
                <li class="nav-item hundeschule_menu">
                    <a href="#hundeschule">Hundeschule</a>
                </li>
            </ul>
        </li>
        <li class="nav-item newsroom_menu">
        <a href="#">Newsroom</a></li>
        <li class="nav-item kontakt_menu">
            <a href="#">Kontakt</a></li>
        <li class="nav-item impressum_menu">
            <a href="#">Impressum</a></li>
        <li class="nav-item daten_menu">
            <a href="#">Datenschutz</a></li>
    </ul>
</nav>
