<nav role="navigation">
    <ul class="navigation">
        <li class="nav-item">Über uns</li>
        <li class="nav-item">Shop</li>
        <li class="nav-item">Schule</li>
        <li class="nav-item">Nachrichten</li>
        <li class="nav-item">Contact</li>
        <li class="nav-item">Impressum</li>
        <li class="nav-item">Daten schutz</li>
    </ul>
</nav>
