<main role="main" class="container strategie">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">Unsere Strategie</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-3 col-6">
            <h2>Eine Branche im Umbruch</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis dolorem mollitia pariatur sequi
                sint, soluta tempora? Architecto consectetur culpa dignissimos fugiat itaque nemo omnis quos. Alias
                assumenda doloribus quisquam!</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <h2>Plattformstrategie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis dolorem mollitia pariatur sequi
                sint, soluta tempora? Architecto consectetur culpa dignissimos fugiat itaque nemo omnis quos. Alias
                assumenda doloribus quisquam!</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-6 col-6">
            <h2>Marktanteile ausbauen</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis dolorem mollitia pariatur sequi
                sint, soluta tempora? Architecto consectetur culpa dignissimos fugiat itaque nemo omnis quos. Alias
                assumenda doloribus quisquam!</p>
        </div>
    </div>
</main>
