<main role="main" class="container news-block">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">News 01</h1>
        </div>
    </div>
    <div class="row content-wrapper">
        <div class="col-12 col-lg-8 content">
            <img src="/img/svg/hunde_artikel_eins.svg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur consequuntur cum
                cupiditate dicta dolore dolorem ipsam minima nihil, nisi quis quisquam ratione rem suscipit tempora
                tenetur vero vitae voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur consequuntur cum
                cupiditate dicta dolore dolorem ipsam minima nihil, nisi quis quisquam ratione rem suscipit tempora
                tenetur vero vitae voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur consequuntur cum
                cupiditate dicta dolore dolorem ipsam minima nihil, nisi quis quisquam ratione rem suscipit tempora
                tenetur vero vitae voluptatibus.</p>
        </div>
        <div class="col-12 col-lg-4 widget-content">
            {{> ../widgets/news-vertical.mustache }}
        </div>
    </div>

</main>
