<main role="main" class="container">
    <h1>Newsroom</h1>
    <div class="row_anhang">
        <div class="col-12 col-md-5 anhang"><p>In unserem Newsroom stellen wir Besitzer und Vertretern von Presse und Medien alle relevanten Inhalte
            zur Verfügung – von News bis hin zu Pressemitteilungen über Videos.</p>
    </div>
        <div class="col-12 col-md-5 communication">
            <h3>Corporate Communications <a href="#">presse@hunde.de</a></h3>
        </div>
    </div>




    <!--Newes Block-->
    <div class="row newsroom">

        <!--news1-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news2-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news3-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news4-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>
        <!--news5-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news6-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news7-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news8-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>
        <!--news9-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news10-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news11-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news12-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/newsroom/hund_artikel_zwei.png" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

    </div>
</main>
