<main role="main" class="container shop">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">Shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{> ../widgets/slider }}
        </div>
    </div>
</main>
