<main role="main" class="container kurzportraet">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">Kurzporträt</h1>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <h2>Wer wir sind</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, amet asperiores commodi consectetur
                consequuntur, natus necessitatibus nobis omnis optio quibusdam quos repudiandae sapiente, tempora?
                Aperiam, pariatur reiciendis? Aliquid, at, necessitatibus!</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-6 offset-md-6">
            <h2>Was uns seit jeher antreibt</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, amet asperiores commodi consectetur
                consequuntur, natus necessitatibus nobis omnis optio quibusdam quos repudiandae sapiente, tempora?
                Aperiam, pariatur reiciendis? Aliquid, at, necessitatibus!</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <h2>Unsere Verantwortung für Mitarbeiter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, amet asperiores commodi consectetur
                consequuntur, natus necessitatibus nobis omnis optio quibusdam quos repudiandae sapiente, tempora?
                Aperiam, pariatur reiciendis? Aliquid, at, necessitatibus!</p>
        </div>

    </div>
</main>
