<main role="main" class="container pension">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">Die Pension</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Bei uns ist Ihr Hund nicht nur Gast, sondern auch Familienmitglied auf Zeit</h2>
            <p>Bei uns leben die Gasthunde im Familienverband wo sie sich frei im Haus und auf dem Grundstück bewegen
                können.
                Um die Hochwertigkeit, die Gruppenharmonie sowie einen möglichst stressfreien Tagesablauf für die
                Gasthunde zu bewahren,
                ist die Anzahl der Gasthunde auf maximal 7 Hunde beschränkt. </p>
            <h2 class="text-center">Was unsere Gäste erwartet:</h2>
            <p>Wir bieten Ihnen und Ihrem Schützling eine 24-Stunden Betreuung unter ständiger Aufsicht inkl.
                Übernachtung bei den Hunden. Sollte es Ihnen nicht m&ouml;glich sein Ihren Hund zur Pension zu bringen oder
                abzuholen, bieten
                wir nach Bedarf einen Bring- und Abholservice für unsere Gäste an. Auf unsere Gasthunde wartet ein
                großzügiges eingezäuntes Freizeitgelände auf über 10.000m² mit
                Naturteich, Wald und Streuobstwiesen sowie ein eingezäuntes Trainingsgelände, Aufenthalts und Ruheräume
                für die Nacht oder bei schlechtem Wetter, ein hundgerechtes Badezimmer und eine eigene Futterküche für
                den täglichen Bedarf.</p>
        </div>
    </div>
</main>
