<header role="banner" class="container p-0">
    <div class="row heder">
        <div class="col-3 col-sm-2 logo">
            <img src="/img/png/logo_64.png" alt="logo" width="64" height="64">
        </div>
        <div class="col-7 col-sm-8 motto">
            <h1>Unternehmen für liebevolle Besitzer und aufgezogene Hunde</h1>
        </div>
        <div class="col-2 menu text-right">
            <i class="fas fa-bars"></i>
        </div>
    </div>

</header>
