<!--<div class="background-wrapper dzsparallaxer use-loading auto-init height-is-based-on-content mode-scroll loaded dzsprx-readyall">-->
    <!--<div class="background-image-cover"></div>-->
    <!--<div class="background-image dzsparallaxer--target"></div>-->
<!--</div>-->
<div class="background-wrapper">
    <div class="background-image-cover"></div>
    <div class="background-image"></div>
</div>
<header role="banner" class="container">
    <div class="row header-mobile d-md-none">
        <div class="col-3 col-sm-2 logo">
            <a href="index.html"><img src="/img/png/logo_64.png" alt="logo" width="64" height="64"></a>
        </div>
        <div class="col-7 col-sm-8 motto">
            <h1>Unternehmen für liebevolle Besitzer und aufgezogene Hunde</h1>
        </div>
        <div class="col-2 menu text-right">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <div class="row header-desktop d-none d-md-flex">
        <div class="col-12">
            <div class="row banner-container">
                <div class="col-3 col-lg-4 logo">
                    <a href="index.html" class="d-lg-none"><img src="/img/png/logo_132.png" alt="logo" width="132" height="132"></a>
                    <a href="index.html" class="d-none d-lg-inline"><img src="/img/png/logo_200.png" alt="logo" width="200" height="200"></a>
                </div>
                <div class="col-4 col-lg-3">
                    <h1 style="display: none;">Unternehmen für liebevolle Besitzer und aufgezogene Hunde</h1>
                </div>
                <div class="col-5 text-right pr-0">
<nav role="navigation" class="container">
    <ul class="navigation">
        <li class="nav-item ueber_unternehmen_menu">
            <a class="dropdown-link d-md-none" href="#">Über Unternehmen<i class="fas fa-chevron-right"></i></a>
            <a class="dropdown-link d-none d-md-inline"  href="#"><i class="fas fa-chevron-left"></i>Über Unternehmen</a>
            <ul class="dropdown" style="display: none;">
                <li class="nav-item kurzportraet_menu">
                    <a href="kurzportrait.html">Kurzporträt</a>
                </li>
                <li class="nav-item strategie_menu">
                    <a href="strategie.html">Strategie</a>
                </li>
                <li class="nav-item herkunft_menu">
                    <a href="herkunft.html">Herkunft</a>
                </li>
            </ul>
        </li>
        <li class="nav-item unsere_felder_menu">
            <a class="dropdown-link d-md-none" href="#">Unsere Felder<i class="fas fa-chevron-right"></i></a>
            <a class="dropdown-link d-none d-md-inline" href="#"><i class="fas fa-chevron-left"></i>Unsere Felder</a>
            <ul class="dropdown" style="display: none;">
                <li class="nav-item shop_menu">
                    <a href="shop.html">Shop</a>
                </li>
                <li class="nav-item pension_menu">
                    <a href="pension.html">Pension</a>
                </li>
                <li class="nav-item hundeschule_menu">
                    <a href="hundeschule.html">Hundeschule</a>
                </li>
            </ul>
        </li>
        <li class="nav-item newsroom_menu ">
            <a class="active" href="newsroom.html">Newsroom</a>
        </li>
        <li class="nav-item kontakt_menu">
            <a href="contact.html">Kontakt</a></li>
        <li class="nav-item impressum_menu d-md-none">
            <a href="impressum.html">Impressum</a></li>
        <li class="nav-item daten_menu d-md-none">
            <a href="datenschutz.html">Datenschutz</a></li>
    </ul>
</nav>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row dogs">
                <div class="col-12 text-center img-responsive">
                    <img src="/img/svg/banner_hunde.svg">
                </div>
                <div class="col-12 text-center title">
                    <h1>Unternehmen für liebevolle Besitzer und aufgezogene Hunde</h1>
                </div>
            </div>
        </div>
    </div>
</header>
