<nav role="navigation" class="container">
    <ul class="navigation">
        <li class="nav-item">
            <a href="index.html">Startseite</a>
        </li>
        <li class="nav-item">
            <a href="kurzportrait.html">Kurzporträt</a>
        </li>
        <li class="nav-item">
            <a href="strategie.html">Strategie</a>
        </li>
        <li class="nav-item">
            <a href="shop.html">Shop</a>
        </li>
        <li class="nav-item">
            <a href="pension.html">Pension</a>
        </li>
        <li class="nav-item">
            <a href="hundeschule.html">Hundeschule</a>
        </li>
        <li class="nav-item">
            <a href="newsroom.html">Newsroom</a>
        </li>
        <li class="nav-item">
            <a href="contact.html">Kontakt</a>
        </li>
        <li class="nav-item d-md-none">
            <a href="impressum.html">Impressum</a>
        </li>
        <li class="nav-item d-md-none">
            <a href="datenschutz.html">Datenschutz</a>
        </li>
    </ul>
</nav>
