<main role="main" class="container datenschutz">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">Datenschutz</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 content">
            <h2>Personenbezogene Daten</h2>
            <p>
                Selbstverständlich können Sie das Angebot von DOGS.DE grundsätzlich ohne Offenlegung personenbezogener Daten nutzen. Unter personenbezogenen Daten versteht man Daten, die dazu genutzt werden können, Ihre Identität offenzulegen, wie zum Beispiel: Name, E-Mail-Adresse und Land.
            </p>
            <p>
                In Einzelfällen (zum Beispiel bei Gewinnspielen, beim Versand von Newslettern, bei Blogs oder Communitys) benötigen wir jedoch personenbezogene Informationen. In solchen Fällen machen wir Sie ausdrücklich auf diesen Sachverhalt aufmerksam und bitten für die Erhebung und Verarbeitung Ihrer personenbezogenen Daten grundsätzlich um Ihre Einwilligung. Siehe hierzu auch unsere Nutzungsbestimmungen. Eine Erhebung, Verarbeitung und Nutzung der personenbezogenen Daten erfolgt immer nur zu dem jeweils angegebenen Zweck. Diese Daten werden von uns vertraulich behandelt, auf gesicherten Servern gespeichert und nicht an Dritte weitergegeben oder für andere Zwecke genutzt.
            </p>
            <p>
                Sie haben das Recht, Ihre erteilte Einwilligung mit Wirkung auf die Zukunft jederzeit zu widerrufen. Bei Fragen dazu wenden Sie sich bitte an den Datenschutzbeauftragten der Deutschen Welle.
            </p>

            <h2>Ihre Rechte (Widerruf, Auskunft, Berichtigung und Löschung)</h2>
            <p>Ihre Daten werden nur für den jeweiligen Zweck eingesetzt und werden nicht verkauft. Sie haben das Recht, ihre uns erteilte Einwilligung jederzeit zu widerrufen. Ein entsprechendes Begehren ist über die auf dieser Webseite genannten Kontaktdaten möglich. Im Fall eines Widerrufs ist jedoch gegebenenfalls eine personalisierte Nutzung des Angebotes nicht möglich. </p>
            <p>Sie haben das Recht, im Rahmen der gesetzlichen Regelungen Auskunft darüber zu verlangen, welche Daten (zum Beispiel: Name, Anschrift) über Sie bei DOGS.DE gespeichert sind. Bitte reichen Sie Ihre Anfrage schriftlich beim Datenschutzbeauftragten der Deutschen Welle ein und nennen Sie das jeweilige Thema, zu dem Sie Ihre Daten übermittelt haben. </p>
            <p>Sie haben darüber hinaus, nach Maßgabe der gesetzlichen Bestimmungen, ein Recht auf Berichtigung und Löschung ihrer personenbezogenen Daten. Ein entsprechendes Begehren ist über die auf dieser Webseite genannten Kontaktdaten möglich.</p>
        </div>
    </div>
</main>
