<main role="main" class="container hundeschule">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">Hundeschule</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</main>
