<main role="main" class="container herkuft">
    <div class="row">
        <div class="col-12 pl-0">
            <h1 class="pl-0">Herkuft</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Unsere Geschichte: Von der WG zur SE</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur aut debitis dignissimos dolores eligendi enim est eveniet exercitationem fugit inventore ipsa ipsum iure maiores maxime molestiae molestias temporibus velit?</p>
        </div>
    </div>
</main>
