<main role="main" class="container newsroom-block">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">Newsroom</h1>
        </div>
    </div>
    <div class="row row_anhang">
        <div class="col-12 col-md-6 anhang">
            <p>In unserem Newsroom stellen wir Besitzer und Vertretern von Presse und Medien alle relevanten Inhalte zur
                Verfügung – von News bis hin zu Pressemitteilungen über Videos.</p>
        </div>
        <div class="col-12 col-md-6 communication">
            <h4>Corporate Communications </h4>
            <a href="mailto:sobacki@gmail.com">sobacki@gmail.com</a>
        </div>
    </div>

    <!--Newes Block-->
    <div class="row newsroom">

        <!--news1-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="img/svg/hunde_artikel_eins.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_eins">
                </div>
                <div class="col-10">
                    <h4>Neus 01&nbsp;|&nbsp;
                        <time datetime="2019-06-19">Gestern</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news2-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_zwei.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwei">
                </div>
                <div class="col-10">
                    <h4>Neus 02&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-19</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news3-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_drei.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_drei">
                </div>
                <div class="col-10">
                    <h4>Neus 03&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-18</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news4-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_vier.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_vier">
                </div>
                <div class="col-10">
                    <h4>Neus 04&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-17</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>
        <!--news5-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_fuenf.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_fuenf">
                </div>
                <div class="col-10">
                    <h4>Neus 05&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-16</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news6-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_sechs.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_sechs">
                </div>
                <div class="col-10">
                    <h4>Neus 06&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-15</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news7-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_sieben.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_sieben">
                </div>
                <div class="col-10">
                    <h4>Neus 07&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-14</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news8-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_acht.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_acht">
                </div>
                <div class="col-10">
                    <h4>Neus 08&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-13</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>
        <!--news9-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_neun.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_neun">
                </div>
                <div class="col-10">
                    <h4>Neus 09&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-12</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news10-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_zein.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zein">
                </div>
                <div class="col-10">
                    <h4>Neus 10&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-11</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news11-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_elf.svg" style="height: 50px; width: 50px;" alt="hund_artikel_elf">
                </div>
                <div class="col-10">
                    <h4>Neus 11&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-10</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

        <!--news12-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row newses">
                <div class="col-2">
                    <img src="/img/svg/hunde_artikel_zwelf.svg" style="height: 50px; width: 50px;"
                         alt="hund_artikel_zwelf">
                </div>
                <div class="col-10">
                    <h4>Neus 12&nbsp;|&nbsp;
                        <time datetime="2019-06-19">2019-06-09</time>
                    </h4>
                    <p class="teaser mb-0">Lorem ipsum dolor sit amet, consec adipiscing elit, sed diam nonumy...</p>
                </div>
            </div>
        </div>

    </div>
</main>
