<main role="main" class="container hundeschule">
    <div class="row">
        <div class="col-12">
            <h1 class="pl-0">Hundeschule</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Lernen mit Spass für mensch und Hund</h2>
            <p>Die Erziehung eines Hundes ist eine anspruchsvolle Aufgabe, denn jeder Hund hat seine. Gemeinsam finden wir für Sie und Ihren Hund einen individuellen Weg. Gerne komme ich auch zu Ihnen nach Hause.</p>
            <h3>Mein Angebot für Sie:</h3>
            <p>Beratung bei allen Fragen zum Ersthund und Begleitung beim Kauf,
                Welpentraining, Grundgehorsam und&nbsp;Leinenführigkeit,
                Problemverhalten bei ängstlichen und&nbsp;aggressiven Hunden,
                Vermittlung von Hund-Hund- sowie Hund-Mensch-Kommunikation,
                Führung des Hundes durch Körpersprache
                </p>
        </div>
    </div>
</main>
