<!--css-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/reboot.min.css" type="text/css" media="all">
<link rel="stylesheet" href="css/grid.min.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.min.css" type="text/css" media="all">
<link rel="stylesheet" href="css/media-mobile-landscape.min.css" type="text/css" media="all">
<link rel="stylesheet" href="css/media-tablet-landscape.min.css" type="text/css" media="all">
<link rel="stylesheet" href="css/print.min.css" type="text/css" media="print">

<!--FontAwesome icons-->
<link href="css/fontawesome/all.min.css" rel="stylesheet">


</head>
<body>
