@media screen and (min-width: 768px) {
    header.container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-desktop nav.container{
        padding-right: 0;
    }
    .header-desktop .navigation{
        display: block;
    }

    .hundeschule img {
        width: 6.375rem;
    }

    .kurzportraet img,
    .shop img,
    .pension img {
        height: 5.75rem;
    }

    .strategie img {
        width: 7rem;
    }

    .herkunft img {
        width: 7rem;
    }
}
