@media screen and (min-width: 768px) {
    header.container{
        padding-left: 15px;
        padding-right: 15px;
        z-index: 0;
    }

    .header-desktop{
        z-index: 1;
    }

    .header-desktop nav.container{
        padding-right: 0;
    }
    .header-desktop .navigation{
        display: block;
        background-color: transparent;
    }

    li.nav-item{
        min-height: 28px;
    }

    .hundeschule img {
        width: 6.375rem;
    }

    .kurzportraet img,
    .shop img,
    .pension img {
        height: 5.75rem;
    }

    .strategie img {
        width: 7rem;
    }

    .herkunft img {
        width: 7rem;
    }

    .background-wrapper {
        min-height: 300px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
    }

    .background-image {
        background: url(/img/svg/london_background.svg);
        -webkit-background-size: cover;
        background-position-y: -31rem;
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
        width: auto;
        display: block;
        opacity: .8;
        mix-blend-mode: multiply;
        z-index: 0;
    }

    .background-image-cover{
        height: 800px;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: var(--farbeApfel);
        z-index: 0;
    }

    .mobile-contact,
    footer .placeholder{
        display: none;
    }

    .vorteile div{
        padding: 0 15px;
    }
}
