@media screen and (min-width: 992px) {

    h1, .h1 {
        font-size: 2rem;
        padding: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    header.container {
        padding-left: 15px;
        padding-right: 15px;
        z-index: 0;
    }

    .header-desktop {
        z-index: 1;
    }

    .header-desktop nav.container {
        padding-right: 0;
    }

    .header-desktop .navigation {
        display: block;
        background-color: transparent;
    }

    li.nav-item {
        min-height: 28px;
        font-size: 1rem;
    }

    .hundeschule img {
        width: 6.375rem;
    }

    .kurzportraet img,
    .shop img,
    .pension img {
        height: 5.75rem;
    }

    .strategie img {
        width: 7rem;
    }

    .herkunft img {
        width: 7rem;
    }

    .background-wrapper {
        height: 100%;
    }

    .background-image-cover {
        height: 800px;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: var(--farbeApfel);
        z-index: 0;
    }

    .mobile-contact,
    footer .placeholder {
        display: none;
    }

    .vorteile {
        height: auto;
    }

    .zahle {
        font-size: 4rem;
    }

    .vorteile div {
        padding: 0 15px;
        font-size: 1.25rem;
    }

    .dogs{
        position: relative;
        top: -1rem;
    }

    .dogs img {
        width: 60%;
        height: auto;
    }

    .background-image {
        height: 60%;
    }

    .unterschrift h2{
        font-size: 1.5rem;
    }

    .ueber-unternehmen .row,
    .unsere-felder .row{
        height: 20rem;
    }

    .kurzportraet img,
    .pension img,
    .shop img{
        height: 11rem
    }

    .strategie img,
    .herkunft img {
        width: 14rem;
    }

    .hundeschule img{
        width: 13rem;
    }

    .adresse, .footer h4, .kontakt h4 {
        font-size: 1.25rem;
    }

    .footer i{
        font-size: 3rem;
    }

    .newsroom{
        font-size: 1rem;
    }
    .newsroom h4{
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 1200px) {
    .ueber-unternehmen .row,
    .unsere-felder .row{
        height: 23rem;
    }
}
