:root {
    --farbeRot: rgba(204, 51, 51, 1);
    --farbeApfel: rgba(102, 153, 51, 1);
    --farbeGrüntee: rgba(153, 153, 102, 1);
    --farbeSepia: rgba(153, 102, 51, 1);
    --farbeGras: rgba(204, 204, 153, 1);
    --farbeKhaki: rgba(160, 182, 109, 1);
    --meinUebarschrift: 'Righteous', cursive;
}

body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 1.5;
}

h3 {
    font-size: 0.875rem;
    color: black;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.zahle {
    color: var(--farbeRot);
    margin-right: 0.25rem;
    font-size: 1.25rem;
}

/*Block Vorteile*/
.vorteile {
    background-color: var(--farbeGras);
    height: 6.625rem;
    font-size: 0.75rem;
    padding: .375rem;
}

.vorteile div {
    padding: 0;
}

/*Unterschrifte*/
.unterschrift {
    color: white;
    background-color: var(--farbeRot);
}

.unterschrift h2 {
    text-align: center;
    font-size: 1rem;
    margin: 0.125rem 0 0.25rem 0;
}

/*Block Über Unternehmen*/
.ueber-unternehmen div,
.unsere-felder div{
    height: 6rem;
    text-align: center;
    padding: 0.3125rem;

}

.ueber-unternehmen .kurzportraet {
    background-color: var(--farbeKhaki);
}

.ueber-unternehmen .strategie {
    background-color: var(--farbeGrüntee);
}

.ueber-unternehmen .herkunft {
    background-color: var(--farbeGras);
}

.kurzportraet img,
.shop img,
.pension img{
    width: auto;
    height: 3.75rem;
    margin-top: 0.3125rem;
}

.strategie img{
    width: 5rem;
    height: auto;
    margin-top: 0.3125rem;
}

.herkunft img{
    width: 5rem;
    height: auto;
    margin-top: 0.4375rem;
}

/*Block unsere Felder*/
.unsere-felder .shop {
    background-color: var(--farbeGras);
}

.unsere-felder .pension {
    background-color: var(--farbeKhaki);
}

.unsere-felder .hundeschule {
    background-color: var(--farbeGrüntee);
}

.hundeschule img{
    width: 4.375rem;
    height: auto;
    margin-top: 0.4375rem;
}